body {
    background-color: rgb(25, 176, 196);
    color: rgb(250, 244, 250);
    font-family: "Comic Sans MS";
    font-size: 24px;
}
table {
    width: 60%;
    background-color: rgb(52, 27, 141);
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(52, 27, 141);
    margin: auto;
}
td {
    padding-left: 15px;
    height: 100px;
    border-color: pink;
    border-width: 1px;
    border-style: solid;	
}
td.item {
    height: 66px;
}
img {
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}
div {
    text-align: center;
}
div.footer {
    color: rgb(15, 29, 107);
    font-size: 18px;
}